{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloomberg Industry Group API Platform</title>
    <link rel="stylesheet" href="{% static 'css/search-api-results.css' %}">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tax-search.css' %}">

    <script src="https://kit.fontawesome.com/54e753e7ea.js" crossorigin="anonymous"></script>
</head>
<!-- Header -->
<header>
    <div class="header-info">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'assets/images/logo.png' %}" alt="Bloomberg Industry Group Logo"></a>
        <span class="site-title">API Developer Portal</span>
    </div>

    <!-- Navigation -->
    <nav>
        <span id="api-library">API Library</span>
        <!-- Dropdown Menu -->
        <div class="dropdown-menu hide">
            <a href="" class="menu-item law-menu-item">Bloomberg Law</a>
            <a href="" class="menu-item tax-menu-item">Bloomberg Tax & Accounting</a>
            <a href="" class="menu-item gov-menu-item">Bloomberg Government</a>
            <a href="" class="menu-item news-menu-item">Bloomberg News</a>
            <a href="" class="menu-item all-menu-item">View All</a>
        </div>
        <a href="{% url 'home' %}">Products</a>
        <a href="/about/">Documentation</a>
        <a href="/blog/">Services & Support</a>
        <a href="/blog/">Log In</a>
        <a href="/search-all"><i class="fas fa-search"></i>
        </a>
    </nav>
</header>
{% block content %}
{% endblock %}
