{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <!-- Introduction -->
    <div class="introduction">
        <h1 class="introduction-title">Enhance your workflows with cutting-edge data and analysis.</h1>
        <p class="introduction-text">Introducing API services across law, tax & accounting, government and news from Bloomberg Industry Group.</p>
    </div>

    <!-- Explore By Product -->
    <div class="explore">
        <h2 class="explore-title">Explore By Product</h2>
        <div class="explore-products">
            <div class="explore-product explore-product-law">
                <span class="explore-product-title">Bloomberg Law</span>
                <span class="explore-product-description">Search for laws and statutes in international, state, and federal jurisdictions.</span>
                <button class="explore-more-button">Browse</button>
            </div>

            <div class="explore-product explore-product-tax">
                <span class="explore-product-title">Bloomberg Tax & Accounting</span>
                <span class="explore-product-description">Search Portfolios, access State Tax Navigators, and get Daily Tax Report updates.</span>
                <button class="explore-more-button" name="target" onclick="location.href='{% url 'search_result' %}'">Browse</button>
            </div>
            <div class="explore-product explore-product-gov">
                <span class="explore-product-title">Bloomberg Government</span>
                <span class="explore-product-description">Search for contractors, government contacts, and receive updates from the state and federal governments.</span>
                <button class="explore-more-button">Browse</button>
            </div>
            <div class="explore-product explore-product-news">
                <span class="explore-product-title">Bloomberg News</span>
                <span class="explore-product-description">Breaking news alerts and analysis from industry experts in law, tax, accounting, and government.</span>
                <button class="explore-more-button">Browse</button>
            </div>
        </div>
    </div>

    <!-- Search -->
    <div class="search">
        <h2 class="search-title">Search APIs</h2>
        <p class="search-text">Search across our API library with all of our product offerings</p>
            <div class="search-bar">
                <input class="search-input" type="search" id="site-search" name="q" aria-label="Search through site content" placeholder="Search API Library">
                <button class="search-button" >Search</button>
            </div>
    </div>

    <!-- Help -->
    <div class="help">
        <h2 class="help-title">Need Help?</h2>
        <p class="help-text">For questions about integrating APIs, our products, and access</p>
        <p class="help-text">Please visit Services & Support</p>
        <button class="services-and-support-button">View Services & Support</button>
    </div>

</body>
<script src="{% static 'js/script.js' %}"></script>
</html>
{% endblock %}
