{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <!-- Header -->
    <header>
        <div class="header-info">
            <a href="./index.html"><img class="logo" src="{% static 'assets/images/logo.png' %}" alt="Bloomberg Industry Group Logo"></a>
            <span class="site-title">API Developer Portal</span>
        </div>

        <!-- Navigation -->
        <nav>
            <span id="api-library">API Library</span>
            <!-- Dropdown Menu -->
            <div class="dropdown-menu hide">
                <a href="" class="menu-item law-menu-item">Bloomberg Law</a>
                <a href="" class="menu-item tax-menu-item">Bloomberg Tax & Accounting</a>
                <a href="" class="menu-item gov-menu-item">Bloomberg Government</a>
                <a href="" class="menu-item news-menu-item">Bloomberg News</a>
                <a href="" class="menu-item all-menu-item">View All</a>
            </div>
            <a href="index.html">Products</a>
            <a href="/about/">Documentation</a>
            <a href="/blog/">Services & Support</a>
            <a href="/blog/">Log In</a>
            <a href=""><i class="fas fa-search"></i>
            </a>
        </nav>
    </header>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>
{% endblock %}
